* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233 255 255 / 82%);
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieChart{
  width: 200px;
  border: 1px solid black;
}

.flex{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}