* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233 255 255 / 82%);
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  /* background: wheat; */
}
